
.search {
    width :30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 24px;
    border: black solid 1px;
    line-height: 24px;
}
.logo {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main {
    margin-top: 10%;
}

.flexbox{
    display: flex;
    justify-content: center;
}
button {
   
    margin-top:1%;
    text-align: center; 
    border-radius: 4px;
    background-color:rgb(224, 223, 223) ;
    border: none;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}
.buiton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color:black;
    background-color: rgb(255, 255, 255);
    border : 1px solid rgb(181, 181, 181);
    border-radius: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    
}
.bvb {
    width:11%; 
    margin-left: auto;
    margin-right: auto;
    display: block;
    color : rgb(219, 219, 9);
    background-color: rgb(0, 0, 0);
    border: 8px solid yellow;
    padding: 1%;
    border-radius: 10%;
    
}
