body {
    margin: 0;
    text-align: center;
} 

header{
margin: 0 auto;
display: block;
}

img{
width: 100%;
margin: 0 auto;
display: inline-block;
}

main{
width: 60%;
height: 1161px;
background: #FFFFFF;
margin: 0 auto;
}

.items{
    margin-top:3em;
    height: 150em;
    background-color: rgb(255, 255, 255);
}

.item{
    display:flex;
    border-bottom:1px solid #D2D2D2;
    margin :1em;
    background-color: rgb(255, 255, 255);
    
}

.item-emoji{
    display:inline-block;
    font-size: 4em;
}

.item-prop{
    width: 33%;
}
.item-ing{
    color:#8B8B8B;
    text-align: left;

}

.item-name{
margin-top: 3em;
text-align: left;
font-size: 22px;
font-weight: bold;

}

.item-price{
    text-align: left;
    font-weight: bold;

}

#add-item{
margin-top: 5em;
width: 50px;
height: 50px;
border-radius:100%;
border: 1.5px solid #DEDEDE;;
background-color: #FFFFFF;
}