body {
    margin: 0;
    text-align: center;
} 

header{
margin: 0 auto;
display: block;
}

img{
width: 100%;
margin: 0 auto;
display: inline-block;
}

main{
width: 60%;
height: 1161px;
background: #FFFFFF;
margin: 0 auto;
}

.item-prop{
    background-color: rgb(255, 255, 255);
    width:33%;
}

.item{
    gap:1em;
    width:auto;
    display:flex;
    border-bottom:1px solid #D2D2D2;
    flex-direction: row;
    justify-content: space-between;
    margin :1em;
    background-color: rgb(255, 255, 255);
    align-items:start;
    
}

.item-emoji{
    font-size: 4em;

}


.item-ing{
    color:#8B8B8B;
    align-self:center
}

.item-name{
margin-top: 3em;
text-align: left;
font-size: 22px;
font-weight: bold;

}

.item-price{
    text-align: left;
    font-weight: bold;

}

#add-item{
margin-top: 5em;
width: 50px;
height: 50px;
border-radius:100%;
border: 1.5px solid #DEDEDE;;
background-color: #FFFFFF;
}