body{
    margin: 1em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.vataman{
    width: 8em;
    border-radius: 0.2em;

}
.card{
   
    padding: 1em;
    display: flex;
    justify-content: space-around;
    width: 24em;
    margin-left: auto;
    margin-right: auto;
    background: #cceaf7;
    color: #2b2839;
    border-bottom: 6px solid #4690ff;
    
    
}

.pricing{
    display: flex;
    
}
div{
    margin-left: auto;
    margin-right: auto;
    line-height: 0.8em;
}

.border{
    border: blue 1px dotted;
}