
html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  
  nav {
    width: 100%;
    padding: 0.5em 0.5em 0.5em 1.9em;

    display: flex;
    justify-content: space-between;
    align-items: baseline; 
 }
  
  .nav-links {
    list-style: none;
    display: flex;
    align-items: baseline;
  }
  
  .nav-item a {
    display: inline-block;
    padding: 10px 15px;
    color: black;
  }
  
  a{
    text-decoration: none;
  }
  
  .nav-item:hover a {
    color: darkgreen;
  }
  


  header{
    background-image: url('images/cocodrilo.jpg');
    color:white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap:1em;
    padding:1em;
    padding-top: 25em;
  }


header p,h1{
    max-width: 750px;
}