
html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  /* NAVIGATION BAR */
  nav {
    width: 100%;
    padding: 0.5em 0.5em 0.5em 1.9em;
    display: flex;
    justify-content: space-between;
    align-items: baseline; 
 }

  .logo{
    font-size: 1.5rem;
  }  
  .nav-links {
    list-style: none;
    display: flex;
    align-items: baseline;
  }
  
  .nav-item a {
    display: inline-block;
    padding: 10px 15px;
    color: black;
  }
  
  a{
    text-decoration: none;
  }
  
  a:hover {
    color: darkgreen;
  }
  
    /*  HEADER */

  header{
    background-image: url('images/cocodrilo.jpg');
    color:white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap:1em;
    padding:1em;
    padding-top: 20em;
  }


header p,h1{
    max-width: 750px;
}

header p {
  font-size: 1.125rem;
}

    /*  MAIN */

.croco-grid{
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 1em;
}

.croco{
  background-image: url('images/cocodrilo.jpg');
  background-size: contain;
  border-radius: 1em;
  color: white;
}

.croco-title{
  grid-column: 1/-1;
  text-align: center;
}


.croco-img{
  height: 60%;
  width: 100%;
  padding: 1em;
}

.date{
  margin-left: 1em;
  padding-bottom: 1em;
}

.croco-type{
  padding: 0 1em;
  text-align: center;
}

.croco-info{
  margin-top: 1em;
  text-align: center;
  padding: 1em 1em 0 1em;
}

.margin{
  margin: 1em 0;
}

a {
  display: inline-block;
  padding: 10px 15px;
  color: black;
}

a{
  text-decoration: none;
}



/*  FOOTER */


footer{
  background-image: url('images/cocodrilo.jpg');
  padding: 1em 0;
  color: white;
}

.copyright{
  padding: 1em 0;
}