body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color: #282828;
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #282828;
    
}

ul{
    padding: 25px;
    margin:0;
    display: flex;
    gap:10px;
    list-style-type: none;

}


li{

    color: white;
    cursor: pointer;
}
.logo{
    size:18px;
    font-weight: 700;
}

.icon{
    width:25px;
}

h1{
    font-size: 40px;
    font-weight: 400;
    margin:30px 25px;
}

.caption{
    margin:0 25px;
    display:flex;
    justify-content: space-evenly;
    gap:20px;
}

.item-img{
    width:100%;
    display: block;
}

.align-right{
    margin-left:auto;

}

.img-banner {
        background-color: #cd6858;
        color: whitesmoke;
        padding: 10px;
        position: absolute;
        top:0;
        left: 0;
    }
    
    
.item{
    position: relative;
}

button {
    border: none;
    background-color: #cd6858;
    color: whitesmoke;
    padding: 10px 15px;
    font-weight: 700;
    cursor: pointer; 
    align-self: center;
   
}
.chatbox-bg {
    position: fixed;
    bottom: 6px;
    right: 6px;
    background-color: #39db33;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px 5px #999;
    display: flex;
}

.chatbox-img {
margin:auto;
   width: 50%; 
   left: 10px;
   top:10px;
}

