/* 
Challenge:
1. Add CSS so the text in the first section 
   renders correctly. 
⚠️ Watch out for the amount of white space 
   you have between the start of the section 
   and the h2.
⚠️ Don't write too much code!
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body{
    color: #2b283A;
    font-family: 'Roboto', sans-serif;   
    font-size: 16px;
    font-weight: 400 500;
    margin: 0;
}

header{
    background-color: #5f29a3;
    padding: 45px 0 45px 0;
    
}

h3{
    color: #d0aaff;
    font-size: 20px;
    margin:0;
}

h1{
    color: whitesmoke;
    font-size: 36px;
    margin:0;
}

section{
    padding: 45px 0 45px 0;

}

.hasb{
    width: 100%;
}

h2{
    margin-top:0;
}

a{
    color:#ef5839;
    text-decoration:underline dotted;
}

a:hover{
    color:#d4b44c
}

a:active{
    color:#d4b44c

}