body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    margin: 0;
}

/* =================
    Typography 
   ================= */

h1 {
    font-weight: 400;
    font-size: 2.5rem;
    text-shadow:0 2px #701f1f;
}

h2{
    font-size: 2.25rem;
    margin: 0.167em 0;
}

p{
    /* 
  Challenge: Set the initial styles for text
    - Set the paragraph to a relative font-size value equal to 18px
    - Set the p line-height to 1.35 times its font-size value
    - Give .subheading a bottom margin in em equal to half its font-size value
*/
 font-size: 1.125rem;
 line-height: 1.35;

}
.beta-text { 
    font-weight: 900;

}

.subheading {
    color: #575757;
    font-weight: 900;
    margin-bottom: 0.5em;

}
.subheading, .beta-text{
    text-transform: uppercase;

}
/* =================
    Flex containers
   ================= */

.intro,
.main-content {
    display: flex;
    flex-direction: column;    
    padding-left: 2em; /* 32 / 16 = 2 */
    padding-right: 2em;
}

/* =================
Intro
   ================= */

.intro { 
    justify-content: center;
    min-height: 250px;
    text-align: center;
    color: #fff;
    background-color: #86bda8;
}

/* ====================
    Main content
   ==================== */
   


.main-content {
    align-items: center;
    
    padding-top: 2.5em; /* 40 / 16 = 2.5 */

}

.img-main {
    width: 120px;
    border-radius: 50%;
}

/* =================
    Form
   ================= */
   

/* =================
    Media queries 
   ================= */
   /* 
  Challenge: Adjust text for wider screens
    - In the media query, increase the h1 font-size to
      a rem value equal to 52px
    - Increase the h2 font-size to a rem value equal to 42px
    - Increase the font-size of .beta-text to a 
      rem value equal to 20px
*/
@media (min-width:576px){
    body{
        display: flex;
    }
    .intro, .main-content{
        flex: 1;
    
    }
    .intro{
        min-height: 100vh;
    }
    .main-content{
        justify-content: center;
       padding-top: 0;
    }

    h1{
        font-size: 5vw;
    }

    h2{
        font-size:2.625rem ;
    }

    .beta-text {
        font-size: 1.25rem;
    }
}
 